body{
    background-color: #e7e7e7;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}

#main-header{
    background-color: #fff;
    color: dimgray;
    font-size: 22px;
}

.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}

#navbar{
    background-color: #f4f4f4;
    text-align: left;
    height: 70px;
    width: 100%;
}

nav label{
    font-size: 40px;
    padding-top: 0 100px;
    line-height: 70px;
    font-weight: bold;
    color: rgb(117, 191, 245);
}

/* .logo{
    width: 100px;
    height: 100px;
    margin: 0px;
} */

nav ul{
    list-style: none;
    margin-right: 20px;
    float: right;
}

#navbar li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

#navbar a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
}

#navbar a:hover{
    color: rgb(68, 68, 68);
}

#showcase{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(196, 226, 243);
    min-height: 400px;
    margin-bottom: 30px;
    text-align: left;
}

#showcase h1{
    color: rgb(44, 44, 44);
    font-size: 40px;
    padding-top: 110px;
}

#showcase p{
    color: rgb(92, 92, 92);
    font-size: 35px;
}

#main{
    float: left;
    width: 65%;
    padding: 70px 20px;
    box-sizing: border-box;
}

#main h1{
    font-size: 22px;
}

#main p{
    font-size: 18px;
}

.socmed img{
    margin-left: 60px;
    margin-right: 80px;
}

.socmed ul{
    list-style: circle;
}

.socmed a{
    padding: 0px 0px;
    line-height: 30px;
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.socmed a:hover{
    color: rgb(128, 202, 255);
}

#sidebar{
    float: right;
    width: 35%;
    min-height: 400px;
    background-color: dimgray; 
    padding: 30px;
    margin-top: 50px;
    box-sizing: border-box;
}

#sidebar p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 40%;
    line-height: 30px;
}

#main-footer{
    background: rgb(128, 202, 255);
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 10px;
    margin-top: 150px;
    font-size: 18px;
}

#about-showcase{
    background-color: rgb(128, 202, 255);
    min-height: 625px;
    text-align: left;
}

#about-showcase h1{
    color: rgb(44, 44, 44);
    font-size: 50px;
    padding-top: 120px;
}

#about-showcase p{
    color: rgb(92, 92, 92);
    font-size: 20px;
    padding-top: 20px;
}

#skills-showcase{
    background-color: rgb(128, 202, 255);
    min-height: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: left;
}

#skills-showcase h1{
    color: rgb(44, 44, 44);
    font-size: 50px;
}

#skill-main{
    float: left;
    width: 40%;
    padding: 0px 20px;
    box-sizing: border-box;
}

#skill-img{
    float: right;
    width: 60%;
    max-height: 50%;
}

#skill-img img{
    width: 80%;
}

#projects-showcase{
    min-height: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#projects-showcase h1{
    color: rgb(44, 44, 44);
    font-size: 40px;
    padding-top: 10px;
}

#proj-main{
    background-color: rgb(128, 202, 255);
    padding: 50px;
}

#contacts-showcase{
    background-color: rgb(128, 202, 255);
    min-height: 40px;
    margin-bottom: 30px;
    text-align: left;
}

#contacts-showcase h1{
    color: rgb(44, 44, 44);
    font-size: 40px;
}

#contacts-main table{
    width: 100%;
    margin-top: 30px;
}

#contacts-main td{
    height: 400px;
    text-align: center;
    padding: 5px;
    background-color: rgb(128, 202, 255);
    max-width: 20px;
    color: rgb(44, 44, 44);
}